:root{
    --main: #e2484a;
    --background:rgb(190, 211, 208);
    --darker: hsl(220, 16%, 16%);
    --dark: hsl(220, 16%, 14%);
    --light: #c5c5c5;

    --paneSecVskip: 0;
    --frameHBorderThickness: 0;
    --frameVBorderThickness: 0;
    --full-frame-background-color: var(--dark);
    --mid-main-right-background-color: var(--dark);
    --paneButtonsHeight: 0;
    --paneSecPadding: 0;
}

pwa-install{
    width: 20px;
    height: 20px;
}

#install_button::after{
    content: "Install";
    border: 2px solid var(--background);
    border-radius: 4px;
}

/**********/
/* Editor */
/**********/

#EditorBody{
    font: 14px/1.4 sans-serif;
    background: var(--darker);
    color: var(--main);
    padding: 20px var(--background);
    box-sizing: boder-box;
    overflow-y: scroll;
} 

#editor {
    display: flex;
}

/* Selection */
::selection {
    background: rgba(226, 72, 75, 0.24); /* WebKit/Blink Browsers */
    border-radius: 2px;
  }

::-moz-selection {
    background: rgba(226, 72, 75, 0.24); /* WebKit/Blink Browsers */
}


.highLite {
    position: relative;
    background: var(--darker);
    width: 100%;
    height: 100%;
}

.highLite_colors,
.highLite_editable {
    width: 90%;
    height: 100%;
    padding: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: monospace;
    font-size: 15px;
    display: inline-block;
    white-space: pre-wrap;
}

/* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
.highLite_editable {
    position: relative;
    -webkit-text-fill-color: transparent; /* Chrome: make text transparent */
    color: hsl(0, 5%, 76%); /* But keep caret colored */
    height: 100%;

}
.highLite_editable:focus {
    outline: none;
}

/* THE UNDERLAYING ONE WITH HIGHLIGHT COLORS */
.highLite_colors {
    position: absolute;
    user-select: none;
}

.highLite_colors i {
    font-style: normal;
}

/* JS */
i.js_quot { color: hsl( 50, 75%, 70%); }
i.js_coma { color: hsl(200, 64%, 61%); }
i.js_rx { color: hsl(300, 75%, 70%); }
i.js_rrr { color: hsl(210, 75%, 70%); }
i.js_squa { color: hsl(230, 75%, 70%); }
i.js_data { color: hsl(250, 47%, 73%); }
i.js_numb { color: hsl(100, 75%, 70%); }
i.js_logi { color: hsl(200, 75%, 70%); }
i.js_reg { color: hsl(200, 75%, 70%); }
i.js_comm { color: hsl(200, 10%, 45%); font-style: italic; }
i.js_comm > * { color: inherit; }


/* ******************************** */
/*          Asembler code            */
/* ******************************** */

.HighlightedTextAsHtml{
    overflow-y: initial;
}

.ListingHeader{
    color: var(--header);
    font-weight: 900;
}


:root{
    --comments:  #07360f; 
    --commands: #b60202;
    --arguments: #12055f;
    --header: #530439;
    --text-color-err: red;
}


.FIELDCOMMENT{
    color: var(--comments); 
    font-style: italic;
}

.FIELDOPERATION{
    font-weight: 900;
    color: var(--commands);
}

.FIELDOPERAND{
    color: var(--arguments);
    font-weight: 800;
}

.ERR{
    font-weight: bold;
    font-size: 0.9rem;
}

.CUR{
    font-weight: bold;
    color: var(--text-color-err);
}

.NEXT{
    color:black;
}

.FIELDLABEL{
    font-weight: bold;
    color: orangered;
}

.GET{
    color: var(--commands);
    font-weight: bold;
}


/***********/
/* Old CSS */
/***********/

.MiddleSection{
    height: 99%;
}

.TopSection{
    height: 0;
}

.navbar{
    height: 40px;
    border-bottom: solid 2px black;
    /* beacuse of the loading - set in gui onload() */
    display: none; 
}

.MidMainRight{
    width: 300px !important;
}

.MidMainLeft{
    max-width: calc(100% - 385px) !important;
}

.Pane{
    background-color: var(--dark);
    max-width: 100% !important;
    /* change onload (in gui.js) */
    display: none; 
}

.MidMainRight .Pane{
    height: 94%;
    height: 110%;
}

.PaneBody{
    background-color: var(--dark);
    height: 100%;
}

.PaneButtons{
    height: 40px;
    background-color: var(--dark);
    border-bottom: solid 2px black;
}

#EditorBody{
    height: calc(100% - 25px);
}

#ExamplesIframeId{
    height: 100%;
}

.unused{
    display: none;
}

#ProcessorState{
    display: block;
    background-color: var(--dark);
}

.ProcStateSection{
    height:100%;
    float: left;
    border: solid 1px black;
    border-radius: 3px;
}

#RegisterFile{
    max-width: 80px;
    min-height: 280px;
    background-color: var(--light);
    padding:0;
}

.Registers{
    height:280px;
    padding-right: 2px; 
    grid-template-columns: [RegVlineStart] 30px
                           [RegVlineRNameEnd] 0
                           [RegVlineRValStart] 37px
                           [RegVlineEnd];
    border-radius: 5px;
    
        
}
/* Register colors */
.Registers div:nth-child(4n){
    background-color: var(--light) ;
}

.Registers div:nth-child(4n+5){
    background-color: var(--light);
}

.NewRegSecName{
    background-color: var(--main);
    width: 69px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.RegisterName{
    height: 16px !important;
    padding-left:2px;
}

.RegisterValue{
    height: 16px !important;
}


#MemSection{
    height: 280px;
    max-width: 200px;
    background-color: var(--main);
    padding: 0;
    border-radius: 3px !important;
}

.MemDisplay{
    height: 99%;
    padding-top: 3%;
    max-height: 280px;
    overflow: auto;
    text-align: center;
}

#MemDisplay1{
    border-bottom-left-radius: 3px;
}
#MemDisplay2{
    border-bottom-right-radius: 3px;
}


.CPU_box{
    width: 100%;
    height: 50%;
}

#IOSection{
    background-color: var(--main); 
    min-width: 20px;
    width: calc(100% - 292px) !important;
    height: 276px !important;
    display: block !important;
}

#IOSection textarea{
    width: calc(100% - 10px) !important;
    display: block;
    margin: 2px;
    margin-bottom: 3px;
    background-color: var(--background) !important;
    height: 40px;
    border-color: var(--dark) ;
    border-radius: 3px;
}

#IOInbufLabel{
    background-color: transparent;
    padding-top: 1.5px;
}

.IOlog{
    border: solid 1px var(--dark) !important;
    border-radius: 3px;
    background-color: var(--background) !important;
}

#ProcAsmListing{
    max-height: calc(55vh - 10px);
    /* For the Firefox displaying bug - changed in the boot function */
    display:none;
    margin: 1px 0 0 3px;
    padding-left: 10px;
}

#nInstrExecuted{
    font-size: 20px;
    text-align: center;
    margin-top: 3px;
}

/* ************************************************************************ */
/* NEW CSS */
/* ************************************************************************ */

body{
    font-family: 'Ubuntu', sans-serif !important;
}

/* Buttons */

button {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background: none;
    height: 40px;
    padding: 3px 6px 3px 6px;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--background);
    letter-spacing: 1px;
    transition: all 0.4s;
    outline: none;
    float: left;
}

button:hover {
    color: var(--main);
}

/* Left */
.MidMainLeft .PaneButtons{
    height: 42px;
}

.MidMainLeft button{
    font-size:  1.3rem;
    padding: 10px 7px 2px 7px;
    height: 20px;
}

/* Right */
.MidMainRight button:hover{
    background-color: var(--background);
    border-bottom-color: var(--background) !important;
    color: var(--dark);
}

.navbar button{
    font-size: 1rem;
    padding: 4px 3% 3px 3%;
    height: 40px;
    border-bottom: solid 3px;
    /* border-right: solid 2px black; */
    border-bottom-color: var(--dark);
}

#ProcessorPane .PaneButtons {
    padding: 0px 0px 0px 0px;
    height: 40px;
    border: none;

}

#ProcessorPane{
    /* border-left: solid 2px black; */
}

#ProcessorPane .PaneButtons button{
    font-size:  1.5rem;
    width: 40px;
    padding-top: 7px;
}

#ExamplesPane .PaneButtons button{
    font-size:  1.5rem;
    width: 40px;
} 

/* Logo */
#logo{
    font-size: 20px;
    font-weight: 580;
    float: left;
    padding: 8px;
    margin-right: 10px;
}

#logo a{
    color: var(--main);
    text-decoration: none;
}

#logo a:hover{
    font-size: 21;
    color: var(--background);
}

/* File name text input */
input[type=text]{
    font-size: 14.5px;
    font-weight: 300;
    font-family: "Ubuntu";
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--background);
    color: var(--background);
    width: 140px;
    height: 25px;
    margin: 7px 10px 0px 5px;
    outline: none;
    float: left;
}

::placeholder{
    color: var(--background);
    font-weight: 100;
}

/* Load file input */
input[type="file"] {
    display: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--dark); 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark); 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main); 
  }

/* Avoid two scrollbars */
#AssemblerPane .HighlightedTextAsHtml{
    overflow-y: initial;
    height: calc(100% - 52px);
    padding: 7px 0 0px 7px !important;
}

#AssemblerPane pre{
    overflow-y: auto !important;
}

/* Color input */
input[type=color]{
    float: right;
    padding: 9px;
    padding-right: 12px;
	width: 23px;
	height: 23px;
	border: none;
	border-radius: 23px;
	background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border-radius: 23px;
}
/* For Firefox */
@-moz-document url-prefix() {
    input[type=color]{
        width: 40px;
        height: 3px;
        border-radius: 40px;
    }
    input[type="color"]::-moz-color-swatch {
        border-radius: 40px;
    }
}

input[type=color]:focus{
    outline: none;
}