/* FIXING EVERYTHING */
:root{
    --paneSecVskip: 0;
    --frameHBorderThickness: 0;
    --frameVBorderThickness: 0;
    --full-frame-background-color: #222222;
    /* --topSectionHeight: 0;  */
    --mid-main-right-background-color: #222222;
    --paneButtonsHeight: 0;
    --paneSecPadding: 0;
}

.MiddleSection{
    height: 99%;
}

.TopSection{
    height: 0;
}

.navbar{
    height: 25px;
}

.MidMainRight{
    width: 300px !important;
}

.Pane{
    background-color: #222222;
    max-width: 100% !important;
    /* change onload (in gui.js) */
    display: none; 
}

.MidMainRight .Pane{
    height: 94%;
    height: 110%;
}

.PaneBody{
    background-color: #222222;
    height: 100%;
}

.PaneButtons{
    height: 1.5em;
    background-color: #222222;
}

#EditorBody{
    height: 100%;
}

#ExamplesIframeId{
    height: 100%;
}

.unused{
    display: none;
}

#ProcessorState{
    display: block;
    background-color: #222222;
}

.ProcStateSection{
    height:100%;
    float: left;
}

#RegisterFile{
    max-width: 80px;
    min-height: 280px;
}

#MemSection{
    height: 280px;
    max-width: 200  px;
}

.MemDisplay{
    height: 100%;
    max-height: 280px;
}

.CPU_box{
    width: 100%;
    height: 50%;
}

#IOSection{
    /* background-color: #222222;  */
    min-width: 20px;
    width: calc(100% - 300px) !important;
    height: 280px !important;
    display: block !important;
}

textarea{
    width: calc(100% - 6px) !important;
    display: block;
    margin: 0;
    margin-bottom: 3px;
    background-color: white !important;
    height: 40px;
}

.IOlog{
    border: none;
}

#ProcAsmListing{
    max-height: 50vh;
}

.HighlightedTextAsHtml{
    overflow: visible;
}

#nInstrExecuted{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

/* ACTUAL CSS */
body{
    font-family: 'Ubuntu', sans-serif !important;
}

/* Navbar */
.PaneButtons{
    height: 40px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background: none;
    /* text-transform: uppercase; */
    /* margin: 0.2rem; */
    height: 40px;
    padding: 7px 6px 3px 6px;
    font-weight: 600;
    color: #FDFFFC;
    /* letter-spacing: px; */
    font-size: 1.2rem;
    transition: all 0.4s;
    outline: none;
    float: left;
}

button:hover {
    color: #b0faf6;;
}

.MidMainRight button{
    font-size: 1rem;
    padding: 4px 4px 4px 4px;
    height: 20px;
}

/* Logo */
#logo{
    font-size: 20px;
    font-weight: 570;
    float: left;
    padding: 10px;
    margin-right: 10px;
}

#logo a{
    color: white;
    text-decoration: none;
}

#logo a:hover{
    font-size: 21;
    color: #b0faf6;
}

/* File name text input */

input[type=text]{
    font-size: 16px;
    font-weight: 300;
    font-family: "Ubuntu";
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: #b0faf6;
    width: 100px;
    height: 25px;
    margin: 7px 5px 0px 5px;
    outline: none;
    float: left;
}

::placeholder{
    color: #b0faf6;
    font-weight: 300;
}
input[type=text]:focus {
    
}


:root{
    --blue: #11998e;
    --white: #38ef7d;
    --gray: #9b9b9b;
}

