:root{
    /* My */
    --main: #e24042;
    --white:#FFFAFA;
    --gray: #222222;
    --light: #ebcbcb;

    --paneSecVskip: 0;
    --frameHBorderThickness: 0;
    --frameVBorderThickness: 0;
    --full-frame-background-color: #222222;
    --mid-main-right-background-color: #222222;
    --paneButtonsHeight: 0;
    --paneSecPadding: 0;
}

.MiddleSection{
    height: 99%;
}

.TopSection{
    height: 0;
}

.navbar{
    height: 40px;
    border-bottom: solid 2px black;
}

.MidMainRight{
    width: 300px !important;
}

.Pane{
    background-color: var(--gray);
    max-width: 100% !important;
    /* change onload (in gui.js) */
    display: none; 
}

.MidMainRight .Pane{
    height: 94%;
    height: 110%;
}

.PaneBody{
    background-color: var(--gray);
    height: 100%;
}

.PaneButtons{
    height: 40px;
    background-color: var(--gray);
    border-bottom: solid 2px black;
}

#EditorBody{
    height: 100%;
}

#ExamplesIframeId{
    height: 100%;
}

.unused{
    display: none;
}

#ProcessorState{
    display: block;
    background-color: var(--gray);
}

.ProcStateSection{
    height:100%;
    float: left;
    border: solid 1px black;
}

#RegisterFile{
    max-width: 80px;
    min-height: 280px;
    background-color: var(--main);
}

.Registers{
    height:280px;
    padding-right: 2px; 
    border-radius: 1px;
    grid-template-columns: [RegVlineStart] 30px
                           [RegVlineRNameEnd] 0
                           [RegVlineRValStart] 37px
                           [RegVlineEnd];
}

.Registers div:nth-child(4n){
    background-color: var(--light) ;
}

.Registers div:nth-child(4n+5){
    background-color: var(--light);
}

.NewRegSecName{
    width: 70px;
}

.NewRegSecName{
    background-color: var(--main);
}

#MemSection{
    height: 280px;
    max-width: 200px;
    background-color: var(--main);
}

.MemDisplay{
    height: 100%;
    max-height: 280px;
}

.CPU_box{
    width: 100%;
    height: 50%;
}

#IOSection{
    background-color: var(--main); 
    min-width: 20px;
    width: calc(100% - 300px) !important;
    height: 280px !important;
    display: block !important;
}

#IOSection textarea{
    width: calc(100% - 10px) !important;
    display: block;
    margin: 2px;
    margin-bottom: 3px;
    background-color: var(--white) !important;
    height: 40px;
    border-color: var(--gray) ;
    border-radius: 3px;
}

#IOInbufLabel{
    background-color: transparent;
    padding-top: 2px;
}

.IOlog{
    border: solid 1px var(--gray) !important;
    border-radius: 3px;
}



#ProcAsmListing{
    max-height: 50vh;
}

.HighlightedTextAsHtml{
    overflow: visible;
}

#nInstrExecuted{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

/* ************************************************************************ */
/* ACTUAL CSS */
body{
    font-family: 'Ubuntu', sans-serif !important;
}

/* Buttons */

button {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background: none;
    height: 40px;
    padding: 3px 6px 3px 6px;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--white);
    letter-spacing: 1px;
    transition: all 0.4s;
    outline: none;
    float: left;
}

button:hover {
    color: var(--main);
}

/* Left */
.MidMainLeft .PaneButtons{
    height: 42px;
}

.MidMainLeft button{
    font-size:  1.3rem;
    padding: 10px 7px 2px 7px;
    height: 20px;
}

/* Right */
.MidMainRight button:hover{
    background-color: var(--white);
    color: var(--main);
}

.navbar button{
    font-size: 1rem;
    padding: 4px 10px 7px 10px;
    height: 40px;
}

#ProcessorPane .PaneButtons {
    padding: 0px 0px 0px 0px;
    height: 40px;
    border: none;
}

#ProcessorPane .PaneButtons button{
    font-size:  1.5rem;
    width: 40px;
    padding-top: 7px;
}

#ExamplesPane .PaneButtons button{
    font-size:  1.5rem;
    width: 40px;
} 

/* #ProcessorPane .PaneButtons button:hover{
    font-size:  1.5rem;
    background-color: var(--gray);
    color: var(--main);
} */

/* .RightButton:hover{
    background-color: var(--gray) !important;
    color: var(--main) !important;
} */

/* Logo */
#logo{
    font-size: 20px;
    font-weight: 570;
    float: left;
    padding: 8px;
    margin-right: 10px;
}

#logo a{
    color: var(--main);
    text-decoration: none;
}

#logo a:hover{
    font-size: 21;
    color: var(--main);
}

/* File name text input */
input[type=text]{
    font-size: 16px;
    font-weight: 300;
    font-family: "Ubuntu";
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    width: 120px;
    height: 25px;
    margin: 7px 10px 0px 5px;
    outline: none;
    float: left;
}

::placeholder{
    color: var(--white);
    font-weight: 100;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--gray); 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray); 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main); 
  }

/* Editor */
textarea:focus{
    outline: none;
}

